* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: monospace;
}

#container {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -130px;
	margin-top: -130px;
	-webkit-perspective: 800px;
	-webkit-perspective-origin: 130px 130px;
}

.playfield {
	position: relative;
	width: 260px;
	height: 260px;
	background-color: black;
	-webkit-transform: rotateX(20deg);
}

.s {
	position: absolute;
	display: block;
	width: 16px;
	height: 16px;
	border: 1px black solid;
	background-color: #000;
	font-weight: normal;
	cursor: pointer;
	user-select: none;
	-webkit-backface-visibility: none;
	transition: all 0.4s ease;
	&.selected {
		-webkit-transform: scale(1.25) translateY(-4px);
		box-shadow: 0 4px 4px 0 black;
		z-index: 2;
	}
}

.empty {
	&:hover {
		background-color: #888;
	}
}

@mixin sector-colour($owner-class, $hue, $count) {
	@for $i from 0 through $count {
		.#{$owner-class} {
			&.p-#{$i} {
				background-color: hsl($hue, 90, ($i / $count) * 70);
			}
		}
	}
}

@include sector-colour("me", 93, 9);
@include sector-colour("enemy", 6, 9);

@for $i from 1 through 16 {
	.x-#{$i} {
		left: 16px * $i;
	}
	.y-#{$i} {
		top: 16px * $i;
	}
}