* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: monospace; }

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -130px;
  margin-top: -130px;
  -webkit-perspective: 800px;
  -webkit-perspective-origin: 130px 130px; }

.playfield {
  position: relative;
  width: 260px;
  height: 260px;
  background-color: black;
  -webkit-transform: rotateX(20deg); }

.s {
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px black solid;
  background-color: #000;
  font-weight: normal;
  cursor: pointer;
  user-select: none;
  -webkit-backface-visibility: none;
  transition: all 0.4s ease; }
  .s.selected {
    transition: all 0.4s ease;
    -webkit-transform: scale(1.25) translateY(-4px);
    box-shadow: 0 4px 4px 0 black;
    z-index: 2; }

.empty:hover {
  background-color: #888; }

.me.p-0 {
  background-color: black; }

.me.p-1 {
  background-color: #122602; }

.me.p-2 {
  background-color: #244b04; }

.me.p-3 {
  background-color: #367106; }

.me.p-4 {
  background-color: #489708; }

.me.p-5 {
  background-color: #5abc0a; }

.me.p-6 {
  background-color: #6ce20c; }

.me.p-7 {
  background-color: #80f322; }

.me.p-8 {
  background-color: #96f548; }

.me.p-9 {
  background-color: #acf76e; }

.enemy.p-0 {
  background-color: black; }

.enemy.p-1 {
  background-color: #260602; }

.enemy.p-2 {
  background-color: #4b0b04; }

.enemy.p-3 {
  background-color: #711106; }

.enemy.p-4 {
  background-color: #971608; }

.enemy.p-5 {
  background-color: #bc1c0a; }

.enemy.p-6 {
  background-color: #e2210c; }

.enemy.p-7 {
  background-color: #f33722; }

.enemy.p-8 {
  background-color: #f55948; }

.enemy.p-9 {
  background-color: #f77b6e; }

.x-1 {
  left: 16px; }

.y-1 {
  top: 16px; }

.x-2 {
  left: 32px; }

.y-2 {
  top: 32px; }

.x-3 {
  left: 48px; }

.y-3 {
  top: 48px; }

.x-4 {
  left: 64px; }

.y-4 {
  top: 64px; }

.x-5 {
  left: 80px; }

.y-5 {
  top: 80px; }

.x-6 {
  left: 96px; }

.y-6 {
  top: 96px; }

.x-7 {
  left: 112px; }

.y-7 {
  top: 112px; }

.x-8 {
  left: 128px; }

.y-8 {
  top: 128px; }

.x-9 {
  left: 144px; }

.y-9 {
  top: 144px; }

.x-10 {
  left: 160px; }

.y-10 {
  top: 160px; }

.x-11 {
  left: 176px; }

.y-11 {
  top: 176px; }

.x-12 {
  left: 192px; }

.y-12 {
  top: 192px; }

.x-13 {
  left: 208px; }

.y-13 {
  top: 208px; }

.x-14 {
  left: 224px; }

.y-14 {
  top: 224px; }

.x-15 {
  left: 240px; }

.y-15 {
  top: 240px; }

.x-16 {
  left: 256px; }

.y-16 {
  top: 256px; }
